<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Templates.WebApp - <a asp-area="Informations" asp-controller="Law" asp-action="Privacy">Privacy</a>
    </div>
</footer>